################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
.vs
/.vs
.vs/
/.vs/
../.vs
../vs
/AppCondoApi/Properties/launchSettings.json
/AppCondoApi/appsettings.json
